ul {
    display: inline-block;
}

li {
    display: inline-block;
    padding: 10px;
    border-radius: 50%;
    background-color: lightcyan;
}

a {
    border-radius: 50%;
    color: black;
}

a:nth-child(1):hover {
    color: blue;
}

a:nth-child(2):hover {
    color: blue;
}

a:nth-child(3):hover {
    color: red;
}

a:nth-child(4):hover {
    color: blue;
}

a:nth-child(5):hover {
    color: pink;
}