img {
    display: flex;
    width: 100vw;
    height: 100vh;
    position: relative;
    z-index: 1;
}

h1 {
    position: absolute;
    font-size: 60px;
    top: 120px;
    left: 460px;
    color: antiquewhite;
    text-shadow: 1px 1px 20px black;
    z-index: 2;
}